/*This part has done by E.Aladdin Mohammed*/
/*#84c4c8*/

body {
    font-family: 'Tajawal', sans-serif;
    width: 98.8%;
    height: 7000px;
}

/*start starter template*/
/*Start header*/

.logo
{
    background-color: #21324e;

    color: white;
    text-align: center;
    height: 60px;

    /*padding: 20px;*/
}


.upper-menu
{
    background-color: #f7faff;

}
.upper-menu i.far
{
   font-size: 20px;
}
.dot
{
    height: 7px;
    width: 7px;
    background-color: #f6336f;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -3px;
}

/*End header*/
/*Start sidebar*/
#sidebar
{
    background-color: #2a3a5b;
    min-height: 100vh;
    /*padding: 0 4px;*/
    /*margin-right: 7px;*/
}
#sidebar a
{
    border: none;
    transition: all .2s ease-in-out;
    font-size: 15px;
    margin: 10px 3px 10px 0;
    padding:10px 10px;

}
#sidebar a i
{
    color: #4e6489;
}
#sidebar a:hover
{
    border: none;
    background-color: #21324e;

}
.hamburger-icon
{
    cursor: pointer;
    display: none;
}
.add-icon
{
    position: relative !important;
}
.add-icon span{
    position: absolute;
    bottom: -36px;
    font-size: 10px;
    text-decoration: none;
    left: 2px;
    color: black;
    width: 100%;
}
@media screen and (max-width: 1235px)  {
/*.hamburger-icon*/
/*{*/
/*    display: inline-block;*/
/*}*/
#sidebar
{
    display: inline-block;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99;
    right: -3000px;
    transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;

}

}
.side-collapse
{
    right: 0px !important;

}
/*End main-content*/

/*end starter template*/

/*This part has done by E.Aladdin Mohammed*/